.detail_habitat {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
}

.detail_habitat h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #2c3e50;
}

.detail_habitat img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.detail_habitat p {
  font-size: 1.2rem;
  color: #34495e;
  line-height: 1.6;
  text-align: center;
}
