.container_navbar {
  background-color: var(--primary-color);
  width: 100%;
  z-index: 1000;
  margin: 0;
}

.nav-brand,
.nav-link {
  font-family: var(--headline);
  color: white !important;
}

.content {
  padding-top: 70px;
}
